.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'title title title'
    'tower1 tower2 tower3';
  row-gap: 2rem;
  column-gap: 2rem;
  background-color: darkblue;
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  grid-area: title;
  margin: 0.5rem;
}

.tower1 {
  grid-area: tower1;
}
.tower2 {
  grid-area: tower2;
  background-color: green;
}
.tower3 {
  grid-area: tower3;
}
